# Cryptomaven herontdekken

Wat deed ik ook alweer waardoor het zo goed werkte..?

In [1]:
import pandas as pd
import pandas_ta as ta
import numpy as np

In [2]:
# Load data
df = pd.read_json("ETH_USDT-1d.json")
df.columns=['date','open','high','low','close','volume']
df['date']=(pd.to_datetime(df['date'],unit='ms'))
df.tail(5)

          date     open     high      low    close        volume
994 2021-05-28  2742.23  2762.45  2327.38  2412.10  1.554585e+06
995 2021-05-29  2412.34  2574.27  2204.10  2278.74  1.379427e+06
996 2021-05-30  2278.74  2476.42  2180.53  2385.98  1.151113e+06
997 2021-05-31  2385.82  2720.00  2271.44  2706.15  1.307958e+06
998 2021-06-01  2706.15  2740.00  2523.74  2634.57  1.179577e+06

In [5]:
# Default Pandas-ta indicators
df.ta.rsi(length=10, append=True)
df.ta.mfi(length=10, append=True)
df.tail(5)

,date,open,high,low,close,volume,RSI_10,MFI_10
994,2021-05-28,2742.23,2762.45,2327.38,2412.10,1.554585e+06,39.868661,39.945526
995,2021-05-29,2412.34,2574.27,2204.10,2278.74,1.379427e+06,37.649240,46.268607
996,2021-05-30,2278.74,2476.42,2180.53,2385.98,1.151113e+06,40.603558,34.206584
997,2021-05-31,2385.82,2720.00,2271.44,2706.15,1.307958e+06,48.671381,45.121599
998,2021-06-01,2706.15,2740.00,2523.74,2634.57,1.179577e+06,47.082738,53.613276

In [6]:
# Hier heb ik functies gemaakt die controleren of een waarde overschreden wordt:

# RSI check
def x(row):
    if row["RSI_10"] < 32:
        val = 1
    elif row["RSI_10"] > 75:
        val = 3
    else:
        val = 0
    return val
df["RSI_pos"] = df.apply(x, axis=1)
# MFI check
def y(row):
    if row["MFI_10"] < 21:
        val = 1
    elif row["MFI_10"] > 85:
        val = 3
    else:
        val = 0
    return val
df["MFI_pos"] = df.apply(y, axis=1)

In [10]:
df[(df['RSI_pos'] > 0) | (df['MFI_pos'] > 0)].tail(5)

,date,open,high,low,close,volume,RSI_10,MFI_10,RSI_pos,MFI_pos
975,2021-05-09,3910.26,3983.65,3726.08,3923.95,1.000401e+06,83.192669,92.232364,3,3
976,2021-05-10,3923.95,4208.00,3650.00,3945.88,1.505898e+06,83.482908,93.050366,3,3
977,2021-05-11,3946.63,4180.22,3771.64,4173.45,1.095927e+06,86.225532,93.469733,3,3
985,2021-05-19,3375.08,3441.73,1888.00,2438.92,4.309836e+06,30.707759,32.384655,1,0
989,2021-05-23,2295.45,2381.57,1728.74,2096.39,2.914549e+06,30.080250,28.036315,1,0

In [12]:
# Posities tellen om te berekenen waar ik kan instappen
df["POS_cnt"] = df["RSI_pos"] + df["MFI_pos"]
df[["RSI_pos", "MFI_pos", "POS_cnt"]].tail(15)

     RSI_pos  MFI_pos  POS_cnt
984        0        0        0
985        1        0        1
986        0        0        0
987        0        0        0
988        0        0        0
989        1        0        1
990        0        0        0
991        0        0        0
992        0        0        0
993        0        0        0
994        0        0        0
995        0        0        0
996        0        0        0
997        0        0        0
998        0        0        0

In [13]:
# Advies maken op basis van berekeningen
# Determine advice
def f(row):
    if row["POS_cnt"] == 0:
        val = "NEUTRAL"
    elif row["POS_cnt"] == 2:
        val = "BUY"
    elif row["POS_cnt"] == 6:
        val = "SELL"
    else:
        val = "NEUTRAL"
    return val
# create new column 'POS-adv' using the function above
df["POS_adv"] = df.apply(f, axis=1)

df[(df['RSI_pos'] > 0) | (df['MFI_pos'] > 0)].tail(5)

,date,open,high,low,close,volume,RSI_10,MFI_10,RSI_pos,MFI_pos,POS_cnt,POS_adv
975,2021-05-09,3910.26,3983.65,3726.08,3923.95,1.000401e+06,83.192669,92.232364,3,3,6,SELL
976,2021-05-10,3923.95,4208.00,3650.00,3945.88,1.505898e+06,83.482908,93.050366,3,3,6,SELL
977,2021-05-11,3946.63,4180.22,3771.64,4173.45,1.095927e+06,86.225532,93.469733,3,3,6,SELL
985,2021-05-19,3375.08,3441.73,1888.00,2438.92,4.309836e+06,30.707759,32.384655,1,0,1,NEUTRAL
989,2021-05-23,2295.45,2381.57,1728.74,2096.39,2.914549e+06,30.080250,28.036315,1,0,1,NEUTRAL

In [16]:
# Misschien wel de belangrijkste kolom van allemaal.
# Hier wordt namelijk het signaal gegenereerd waarop gereageerd dient te worden.


# Create columns that indicates that a position advice has changed
# This disables the need for comparison with a 'last_advice' file
df["POS_adv_changed"] = df["POS_adv"].shift(+1) == df["POS_adv"]

df.tail(50)

,date,open,high,low,close,volume,RSI_10,MFI_10,RSI_pos,MFI_pos,POS_cnt,POS_adv,POS_adv_changed
949,2021-04-13,2137.86,2318.00,2135.53,2299.19,7.826086e+05,72.125297,77.825192,0,0,0,NEUTRAL,True
950,2021-04-14,2299.19,2447.29,2281.33,2432.60,9.729316e+05,77.067800,87.288699,3,3,6,SELL,False
951,2021-04-15,2432.59,2543.47,2400.00,2514.04,6.819510e+05,79.529687,87.527952,3,3,6,SELL,True
952,2021-04-16,2514.04,2548.29,2300.00,2422.67,9.991638e+05,70.142663,72.597477,0,0,0,NEUTRAL,False
953,2021-04-17,2422.38,2495.00,2310.00,2317.60,6.242323e+05,60.950668,74.093943,0,0,0,NEUTRAL,True
954,2021-04-18,2317.65,2340.00,1946.80,2235.64,1.475384e+06,54.733901,58.786072,0,0,0,NEUTRAL,True
955,2021-04-19,2235.65,2300.00,2080.00,2161.12,8.205923e+05,49.620865,60.842019,0,0,0,NEUTRAL,True
956,2021-04-20,2161.12,2346.62,2055.00,2330.03,9.922408e+05,59.216021,62.553480,0,0,0,NEUTRAL,True
957,2021-04-21,2330.26,2469.54,2235.16,2357.06,1.177886e+06,60.551926,66.011151,0,0,0,NEUTRAL,True
958,2021-04-22,2357.06,2644.47,2303.44,2397.94,2.220753e+06,62.610011,71.686681,0,0,0,NEUTRAL,True
959,2021-04-23,2397.94,2442.89,2107.00,2367.39,2.532242e+06,60.010322,55.640987,0,0,0,NEUTRAL,True
960,2021-04-24,2367.39,2368.74,2154.80,2213.35,9.976889e+05,48.684958,47.820044,0,0,0,NEUTRAL,True
961,2021-04-25,2214.08,2356.64,2168.00,2320.49,8.575174e+05,55.216554,48.284384,0,0,0,NEUTRAL,True
962,2021-04-26,2320.44,2542.80,2303.64,2532.60,1.076469e+06,65.012644,56.860833,0,0,0,NEUTRAL,True
963,2021-04-27,2532.06,2680.00,2480.29,2666.13,7.717285e+05,69.655549,62.540181,0,0,0,NEUTRAL,True
964,2021-04-28,2666.13,2760.00,2559.44,2748.24,9.993832e+05,72.178101,72.715148,0,0,0,NEUTRAL,True
965,2021-04-29,2748.23,2798.00,2668.00,2757.04,8.638900e+05,72.450819,73.238207,0,0,0,NEUTRAL,True
966,2021-04-30,2757.04,2798.30,2723.09,2772.42,6.953392e+05,72.965428,72.965857,0,0,0,NEUTRAL,True
967,2021-05-01,2772.42,2954.28,2743.41,2944.77,6.902601e+05,78.066764,72.237414,3,0,3,NEUTRAL,True
968,2021-05-02,2944.83,2985.00,2852.26,2949.56,5.719825e+05,78.193829,68.114996,3,0,3,NEUTRAL,True
969,2021-05-03,2949.33,3454.00,2949.32,3431.04,1.329088e+06,86.760291,90.608748,3,3,6,SELL,False
970,2021-05-04,3431.04,3527.00,3160.00,3239.01,1.826039e+06,73.895862,100.000000,0,3,3,NEUTRAL,False
971,2021-05-05,3239.01,3549.34,3200.23,3524.26,1.174817e+06,79.028238,100.000000,3,3,6,SELL,False
972,2021-05-06,3524.33,3605.40,3376.47,3489.73,9.205926e+05,76.992207,100.000000,3,3,6,SELL,True
973,2021-05-07,3489.74,3587.00,3353.23,3479.53,7.605446e+05,76.346623,91.456375,3,3,6,SELL,True
974,2021-05-08,3479.79,3958.33,3449.27,3910.26,1.130468e+06,83.025083,91.871059,3,3,6,SELL,True
975,2021-05-09,3910.26,3983.65,3726.08,3923.95,1.000401e+06,83.192669,92.232364,3,3,6,SELL,True
976,2021-05-10,3923.95,4208.00,3650.00,3945.88,1.505898e+06,83.482908,93.050366,3,3,6,SELL,True
977,2021-05-11,3946.63,4180.22,3771.64,4173.45,1.095927e+06,86.225532,93.469733,3,3,6,SELL,True
978,2021-05-12,4173.46,4372.72,3701.58,3823.21,1.601843e+06,67.156489,80.069748,0,0,0,NEUTRAL,False
979,2021-05-13,3810.15,4034.77,3500.00,3717.91,2.068708e+06,62.536444,65.478344,0,0,0,NEUTRAL,True
980,2021-05-14,3717.92,4173.28,3691.35,4075.01,1.153390e+06,70.248725,64.414085,0,0,0,NEUTRAL,True
981,2021-05-15,4075.02,4134.05,3632.00,3646.68,1.039175e+06,55.124731,55.951581,0,0,0,NEUTRAL,True
982,2021-05-16,3646.24,3879.00,3343.06,3582.10,1.324066e+06,53.205780,47.543277,0,0,0,NEUTRAL,True
983,2021-05-17,3581.81,3587.06,3102.00,3282.51,1.904012e+06,45.111291,44.188431,0,0,0,NEUTRAL,True
984,2021-05-18,3282.25,3565.71,3240.00,3375.07,1.287111e+06,47.835612,44.298344,0,0,0,NEUTRAL,True
985,2021-05-19,3375.08,3441.73,1888.00,2438.92,4.309836e+06,30.707759,32.384655,1,0,1,NEUTRAL,True
986,2021-05-20,2438.92,2990.05,2155.00,2768.62,2.942778e+06,39.223428,34.405823,0,0,0,NEUTRAL,True
987,2021-05-21,2767.87,2938.54,2101.00,2430.98,2.727032e+06,34.411392,26.194156,0,0,0,NEUTRAL,True
988,2021-05-22,2430.98,2485.00,2145.00,2294.87,1.684318e+06,32.618943,27.246167,0,0,0,NEUTRAL,True
989,2021-05-23,2295.45,2381.57,1728.74,2096.39,2.914549e+06,30.080250,28.036315,1,0,1,NEUTRAL,True
990,2021-05-24,2096.63,2675.00,2079.94,2648.43,2.186633e+06,43.636752,28.995645,0,0,0,NEUTRAL,True
991,2021-05-25,2647.92,2750.00,2378.54,2705.11,2.115350e+06,44.856469,37.168120,0,0,0,NEUTRAL,True
992,2021-05-26,2705.10,2910.00,2643.00,2884.94,1.583800e+06,48.765051,44.576692,0,0,0,NEUTRAL,True
993,2021-05-27,2884.82,2889.74,2633.68,2742.23,1.099030e+06,45.896554,47.095938,0,0,0,NEUTRAL,True
994,2021-05-28,2742.23,2762.45,2327.38,2412.10,1.554585e+06,39.868661,39.945526,0,0,0,NEUTRAL,True
995,2021-05-29,2412.34,2574.27,2204.10,2278.74,1.379427e+06,37.649240,46.268607,0,0,0,NEUTRAL,True
996,2021-05-30,2278.74,2476.42,2180.53,2385.98,1.151113e+06,40.603558,34.206584,0,0,0,NEUTRAL,True
997,2021-05-31,2385.82,2720.00,2271.44,2706.15,1.307958e+06,48.671381,45.121599,0,0,0,NEUTRAL,True
998,2021-06-01,2706.15,2740.00,2523.74,2634.57,1.179577e+06,47.082738,53.613276,0,0,0,NEUTRAL,True

In [25]:
# # Onderstaande functie is iets aangepast tav de CryptoMaven functie
# # Nu zal bij elk signal een True gegeven worden in de nieuwe kolom 'signal'
# df['signal'] = False
# def check_swing_strategy(df):
#     # Get the second to last entry in the dataframe column with advice
#     # This is the last full closing day.
#     change = df.iloc[-2]["POS_adv_changed"]
    
#     # If change field is false (not the same as the previous advice),
#     # then the advice has been changed and a warning should be created.
#     if change == False:
#         # return swing strategy advice
#         df['signal'] = True
    
#     return df

# check_swing_strategy(df)
change = df.iloc[-2]["POS_adv_changed"]
if change == False:
    df['signal'] = True

print(change)
df.tail(5)

True

,date,open,high,low,close,volume,RSI_10,MFI_10,RSI_pos,MFI_pos,POS_cnt,POS_adv,POS_adv_changed,signal
994,2021-05-28,2742.23,2762.45,2327.38,2412.10,1.554585e+06,39.868661,39.945526,0,0,0,NEUTRAL,True,False
995,2021-05-29,2412.34,2574.27,2204.10,2278.74,1.379427e+06,37.649240,46.268607,0,0,0,NEUTRAL,True,False
996,2021-05-30,2278.74,2476.42,2180.53,2385.98,1.151113e+06,40.603558,34.206584,0,0,0,NEUTRAL,True,False
997,2021-05-31,2385.82,2720.00,2271.44,2706.15,1.307958e+06,48.671381,45.121599,0,0,0,NEUTRAL,True,False
998,2021-06-01,2706.15,2740.00,2523.74,2634.57,1.179577e+06,47.082738,53.613276,0,0,0,NEUTRAL,True,False