# Ichimoku cloud

Uitprobeersel

In [2]:
# Importeer de benodigde bibliotheken
import pandas as pd
import pandas_ta as pta
from pandas import DataFrame
import numpy as np

In [3]:
# Load data (LET OP: Ik gebruik hier 30min candles maar dit worden straks 5 min candles)
df = pd.read_json("./data/BTC_USDT-1d.json")
df.columns=['date','open','high','low','close','volume']
df['date']=(pd.to_datetime(df['date'],unit='ms'))
df.tail(5)

           date      open      high       low     close         volume
1404 2021-06-21  35600.17  35750.00  31251.23  31608.93  168778.873159
1405 2021-06-22  31614.12  33298.78  28805.00  32509.56  204208.179762
1406 2021-06-23  32509.56  34881.00  31683.00  33678.07  126966.100563
1407 2021-06-24  33675.07  35298.00  32286.57  34663.09   86625.804260
1408 2021-06-25  34663.08  35500.00  31275.00  31584.45  116061.130356

In [4]:
df.ta.indicators()

Pandas TA - Technical Analysis Indicators - v0.2.45b0
Total Indicators: 133
Abbreviations:
    aberration, above, above_value, accbands, ad, adosc, adx, alma, amat, ao, aobv, apo, aroon, atr, bbands, below, below_value, bias, bop, brar, cci, cdl_doji, cdl_inside, cfo, cg, chop, cksp, cmf, cmo, coppock, cross, cross_value, decay, decreasing, dema, donchian, dpo, ebsw, efi, ema, entropy, eom, er, eri, fisher, fwma, ha, hilo, hl2, hlc3, hma, hwc, hwma, ichimoku, increasing, inertia, kama, kc, kdj, kst, kurtosis, linreg, log_return, long_run, macd, mad, massi, mcgd, median, mfi, midpoint, midprice, mom, natr, nvi, obv, ohlc4, pdist, percent_return, pgo, ppo, psar, psl, pvi, pvo, pvol, pvr, pvt, pwma, qqe, qstick, quantile, rma, roc, rsi, rsx, rvgi, rvi, short_run, sinwma, skew, slope, sma, smi, squeeze, ssf, stdev, stoch, stochrsi, supertrend, swma, t3, tema, thermo, trend_return, trima, trix, true_range, tsi, ttm_trend, ui, uo, variance, vidya, vortex, vp, vwap, vwma, wcp, willr, wma, zlma, zscore

In [4]:
help(pta.ichimoku)

Help on function ichimoku in module pandas_ta.overlap.ichimoku:

ichimoku(high, low, close, tenkan=None, kijun=None, senkou=None, offset=None, **kwargs)
    Ichimoku Kinkō Hyō (ichimoku)

    Developed Pre WWII as a forecasting model for financial markets.

    Sources:
        https://www.tradingtechnologies.com/help/x-study/technical-indicator-definitions/ichimoku-ich/

    Calculation:
        Default Inputs:
            tenkan=9, kijun=26, senkou=52
        MIDPRICE = Midprice
        TENKAN_SEN = MIDPRICE(high, low, close, length=tenkan)
        KIJUN_SEN = MIDPRICE(high, low, close, length=kijun)
        CHIKOU_SPAN = close.shift(-kijun)

        SPAN_A = 0.5 * (TENKAN_SEN + KIJUN_SEN)
        SPAN_A = SPAN_A.shift(kijun)

        SPAN_B = MIDPRICE(high, low, close, length=senkou)
        SPAN_B = SPAN_B.shift(kijun)

    Args:
        high (pd.Series): Series of 'high's
        low (pd.Series): Series of 'low's
        close (pd.Series): Series of 'close's
        tenkan (int): Tenkan period. Default: 9
        kijun (int): Kijun period. Default: 26
        senkou (int): Senkou period. Default: 52
        offset (int): How many periods to offset the result. Default: 0

    Kwargs:
        fillna (value, optional): pd.DataFrame.fillna(value)
        fill_method (value, optional): Type of fill method

    Returns:
        pd.DataFrame: Two DataFrames.
            For the visible period: spanA, spanB, tenkan_sen, kijun_sen,
                and chikou_span columns
            For the forward looking period: spanA and spanB columns

In [7]:
pta.ichimoku(high=df['high'], low=df['low'], close=df['close'], tenkan=None, kijun=None, senkou=None, offset=None)

(           ISA_9   ISB_26      ITS_9   IKS_26   ICS_26
 0            NaN      NaN        NaN      NaN  4163.72
 1            NaN      NaN        NaN      NaN  3944.69
 2            NaN      NaN        NaN      NaN  3189.02
 3            NaN      NaN        NaN      NaN  3700.00
 4            NaN      NaN        NaN      NaN  3714.95
 ...          ...      ...        ...      ...      ...
 1404  41324.8225  47427.0  36290.615  36165.0      NaN
 1405  40771.2250  47427.0  35067.500  35067.5      NaN
 1406  40765.6700  47427.0  35067.500  35067.5      NaN
 1407  40702.7525  47427.0  34666.070  35067.5      NaN
 1408  40363.0025  47427.0  34182.440  35067.5      NaN

 [1409 rows x 5 columns],
            ISA_9     ISB_26
 1409  40363.0025  47427.000
 1410  40930.0000  47427.000
 1411  40930.0000  47427.000
 1412  40930.0000  47427.000
 1413  40822.5350  47427.000
 1414  40213.7525  46900.000
 1415  40213.7525  46760.305
 1416  38564.7500  46253.025
 1417  37989.7500  45249.500
 1418  37794.0000  44750.000
 1419  37567.9725  44750.000
 1420  36790.5000  44750.000
 1421  36522.0900  44750.000
 1422  35991.2250  44750.000
 1423  36378.9300  44750.000
 1424  36382.5000  44750.000
 1425  36165.0000  44750.000
 1426  36514.2050  44750.000
 1427  37065.0900  44750.000
 1428  37065.0900  44750.000
 1429  36749.0000  44750.000
 1430  36227.8075  44750.000
 1431  35067.5000  44152.500
 1432  35067.5000  44152.500
 1433  34866.7850  44152.500
 1434  34624.9700  44152.500)

In [8]:
df['SenkanA'] = pta.ichimoku(high=df['high'], low=df['low'], close=df['close'], tenkan=None, kijun=None, senkou=None, offset=None)['ISA_9']
df['SenkanB'] = pta.ichimoku(high=df['high'], low=df['low'], close=df['close'], tenkan=None, kijun=None, senkou=None, offset=None)['ISB_26']
df['Tenkan'] = pta.ichimoku(high=df['high'], low=df['low'], close=df['close'], tenkan=None, kijun=None, senkou=None, offset=None)['ITS_9']
df['Kijun'] = pta.ichimoku(high=df['high'], low=df['low'], close=df['close'], tenkan=None, kijun=None, senkou=None, offset=None)['IKS_26']
df['Chiko'] = pta.ichimoku(high=df['high'], low=df['low'], close=df['close'], tenkan=None, kijun=None, senkou=None, offset=None)['ICS_26']
df.tail(15)

TypeError: tuple indices must be integers or slices, not str

In [10]:
df['senkana']=pta.ichimoku(high=df['high'], low=df['low'], close=df['close'], tenkan=None, kijun=None, senkou=None, offset=None)['ISA_9']

TypeError: tuple indices must be integers or slices, not str