# Supertrend ontwikkeling en berekening voor nieuwe strategie

Bron: https://www.youtube.com/watch?v=JqEjhBD55NY

Daarna Pandas-ta gebruikt en deze bron nagebouwd: https://www.youtube.com/watch?v=6PbwVZ6HwRE

In [57]:
# Importeer de benodigde bibliotheken
import pandas as pd
import pandas_ta as pta
from freqtrade.strategy.interface import IStrategy
from pandas import DataFrame
import talib.abstract as ta
import freqtrade.vendor.qtpylib.indicators as qtpylib
from scipy.spatial.distance import cosine
import numpy as np

In [58]:
# bij weergave van een dataframe is de standaard weergave enkele regels van het begin df en enkele regels van het einde df. Met deze optie laat panda's echt alle regels in de dataframe zien.
pd.set_option('display.max_rows', None)
# Turn off copy in dataframe warnings
#df.is_copy = False
# pd.set_option('df.is_copy' = False)
# pd.set_option('mode.chained_assignment', 'warn')
# if you set a value on a copy, warning will show

In [59]:
# Load data
df = pd.read_json("ETH_USDT-1d.json")
df.columns=['date','open','high','low','close','volume']
df['date']=(pd.to_datetime(df['date'],unit='ms'))
df.tail(5)

          date     open     high      low    close        volume
994 2021-05-28  2742.23  2762.45  2327.38  2412.10  1.554585e+06
995 2021-05-29  2412.34  2574.27  2204.10  2278.74  1.379427e+06
996 2021-05-30  2278.74  2476.42  2180.53  2385.98  1.151113e+06
997 2021-05-31  2385.82  2720.00  2271.44  2706.15  1.307958e+06
998 2021-06-01  2706.15  2740.00  2523.74  2634.57  1.179577e+06

In [60]:
def supertrend(df, period=7,multiplier=3):
    # Create values for supertrend calculation
    hl2 = ((df['high'] + df['low'])/2)
    df['atr'] = ta.ATR(df, timeperiod=period)
    df['atr_upperband'] = hl2 + (multiplier*df['atr'])
    df['atr_lowerband'] = hl2 - (multiplier*df['atr'])
    df['upperband'] = hl2 + (multiplier*df['atr'])
    df['lowerband'] = hl2 - (multiplier*df['atr'])
    df['in_uptrend'] = True
    
    # Create the supertrend indicator
    for current in range(1, len(df.index)):
        previous = current - 1
        # check if the price is in an uptrend or downtrend
        if df['close'][current] > df['upperband'][previous]:
            # we are in an uptrend
            df['in_uptrend'][current] = True
        elif df['close'][current] < df['lowerband'][previous]:
            # we are in a downtrend
            df['in_uptrend'][current] = False
        else:
            # no change, so we stay in the current trend
            df['in_uptrend'][current] = df['in_uptrend'][previous]

            # if in an uptrend, move the lowerband up to the most recent higher lowerband value
            # (moves lowerband higher in uptrend)
            if df['in_uptrend'][current] and df['lowerband'][current] < df['lowerband'][previous]:
                df['lowerband'][current] = df['lowerband'][previous]
            # if not in an uptrend, move the upperband to the most recent lower upperband value
            # (moves upperband lower in a downtrend)
            if not df['in_uptrend'][current] and df['upperband'][current] > df['upperband'][previous]:
                df['upperband'][current] = df['upperband'][previous]
        
    return df

supertrend(df)

df[['date','open','high','low','close','atr','upperband','lowerband','in_uptrend']].tail(150)

TypeError: 'int' object is not callable

In [24]:
pta.supertrend(high=df['high'], low=df['low'], close=df['close'], period=7, multiplier=3).tail(250)

     SUPERT_7_3.0  SUPERTd_7_3.0  SUPERTl_7_3.0  SUPERTs_7_3.0
749    408.909787             -1            NaN     408.909787
750    408.909787             -1            NaN     408.909787
751    408.909787             -1            NaN     408.909787
752    408.909787             -1            NaN     408.909787
753    408.909787             -1            NaN     408.909787
754    408.909787             -1            NaN     408.909787
755    408.909787             -1            NaN     408.909787
756    404.184968             -1            NaN     404.184968
757    401.727115             -1            NaN     401.727115
758    400.298956             -1            NaN     400.298956
759    399.419105             -1            NaN     399.419105
760    394.163519             -1            NaN     394.163519
761    383.413730             -1            NaN     383.413730
762    383.413730             -1            NaN     383.413730
763    383.413730             -1            NaN     383.413730
764    383.413730             -1            NaN     383.413730
765    383.413730             -1            NaN     383.413730
766    328.822848              1     328.822848            NaN
767    331.426727              1     331.426727            NaN
768    331.547194              1     331.547194            NaN
769    331.547194              1     331.547194            NaN
770    331.547194              1     331.547194            NaN
771    331.547194              1     331.547194            NaN
772    331.547194              1     331.547194            NaN
773    336.531719              1     336.531719            NaN
774    336.531719              1     336.531719            NaN
775    336.531719              1     336.531719            NaN
776    348.751840              1     348.751840            NaN
777    353.972292              1     353.972292            NaN
778    359.396250              1     359.396250            NaN
779    359.396250              1     359.396250            NaN
780    359.396250              1     359.396250            NaN
781    359.396250              1     359.396250            NaN
782    359.396250              1     359.396250            NaN
783    359.396250              1     359.396250            NaN
784    359.396250              1     359.396250            NaN
785    359.396250              1     359.396250            NaN
786    359.396250              1     359.396250            NaN
787    359.396250              1     359.396250            NaN
788    359.396250              1     359.396250            NaN
789    359.396250              1     359.396250            NaN
790    359.396250              1     359.396250            NaN
791    362.518596              1     362.518596            NaN
792    363.867368              1     363.867368            NaN
793    363.867368              1     363.867368            NaN
794    364.125107              1     364.125107            NaN
795    369.604377              1     369.604377            NaN
796    384.995895              1     384.995895            NaN
797    385.883624              1     385.883624            NaN
798    394.569535              1     394.569535            NaN
799    394.569535              1     394.569535            NaN
800    394.569535              1     394.569535            NaN
801    394.569535              1     394.569535            NaN
802    400.619757              1     400.619757            NaN
803    400.619757              1     400.619757            NaN
804    400.619757              1     400.619757            NaN
805    410.584352              1     410.584352            NaN
806    436.192301              1     436.192301            NaN
807    437.499115              1     437.499115            NaN
808    461.388528              1     461.388528            NaN
809    485.631595              1     485.631595            NaN
810    485.631595              1     485.631595            NaN
811    485.631595              1     485.631595            NaN
812    485.631595              1     485.631595            NaN
813    485.631595              1     485.631595            NaN
814    485.631595              1     485.631595            NaN
815    485.631595              1     485.631595            NaN
816    485.631595              1     485.631595            NaN
817    485.631595              1     485.631595            NaN
818    485.631595              1     485.631595            NaN
819    485.631595              1     485.631595            NaN
820    485.631595              1     485.631595            NaN
821    485.631595              1     485.631595            NaN
822    485.631595              1     485.631595            NaN
823    485.631595              1     485.631595            NaN
824    485.631595              1     485.631595            NaN
825    485.631595              1     485.631595            NaN
826    485.631595              1     485.631595            NaN
827    485.631595              1     485.631595            NaN
828    485.631595              1     485.631595            NaN
829    485.631595              1     485.631595            NaN
830    495.224154              1     495.224154            NaN
831    505.517132              1     505.517132            NaN
832    539.505399              1     539.505399            NaN
833    539.505399              1     539.505399            NaN
834    552.319783              1     552.319783            NaN
835    552.319783              1     552.319783            NaN
836    552.319783              1     552.319783            NaN
837    552.319783              1     552.319783            NaN
838    552.319783              1     552.319783            NaN
839    552.319783              1     552.319783            NaN
840    552.319783              1     552.319783            NaN
841    552.319783              1     552.319783            NaN
842    552.319783              1     552.319783            NaN
843    555.893334              1     555.893334            NaN
844    556.880001              1     556.880001            NaN
845    584.105715              1     584.105715            NaN
846    592.774899              1     592.774899            NaN
847    592.774899              1     592.774899            NaN
848    600.022783              1     600.022783            NaN
849    656.355242              1     656.355242            NaN
850    709.325208              1     709.325208            NaN
851    714.038035              1     714.038035            NaN
852    776.538316              1     776.538316            NaN
853    834.921414              1     834.921414            NaN
854    834.921414              1     834.921414            NaN
855    834.921414              1     834.921414            NaN
856    834.921414              1     834.921414            NaN
857    834.921414              1     834.921414            NaN
858    834.921414              1     834.921414            NaN
859    834.921414              1     834.921414            NaN
860    834.921414              1     834.921414            NaN
861    834.921414              1     834.921414            NaN
862    834.921414              1     834.921414            NaN
863    834.921414              1     834.921414            NaN
864    834.921414              1     834.921414            NaN
865    892.391417              1     892.391417            NaN
866    892.391417              1     892.391417            NaN
867    892.391417              1     892.391417            NaN
868    892.391417              1     892.391417            NaN
869    892.391417              1     892.391417            NaN
870    892.391417              1     892.391417            NaN
871    892.391417              1     892.391417            NaN
872    892.391417              1     892.391417            NaN
873    892.391417              1     892.391417            NaN
874    892.391417              1     892.391417            NaN
875    892.391417              1     892.391417            NaN
876    917.656504              1     917.656504            NaN
877    917.656504              1     917.656504            NaN
878    917.656504              1     917.656504            NaN
879   1020.172871              1    1020.172871            NaN
880   1147.958175              1    1147.958175            NaN
881   1186.569865              1    1186.569865            NaN
882   1227.463455              1    1227.463455            NaN
883   1265.893676              1    1265.893676            NaN
884   1265.893676              1    1265.893676            NaN
885   1265.893676              1    1265.893676            NaN
886   1305.898773              1    1305.898773            NaN
887   1305.898773              1    1305.898773            NaN
888   1316.270119              1    1316.270119            NaN
889   1367.422959              1    1367.422959            NaN
890   1399.802536              1    1399.802536            NaN
891   1430.052888              1    1430.052888            NaN
892   1430.052888              1    1430.052888            NaN
893   1430.052888              1    1430.052888            NaN
894   1430.052888              1    1430.052888            NaN
895   1522.071057              1    1522.071057            NaN
896   1572.823763              1    1572.823763            NaN
897   1572.823763              1    1572.823763            NaN
898   1572.823763              1    1572.823763            NaN
899   1572.823763              1    1572.823763            NaN
900   1572.823763              1    1572.823763            NaN
901   1572.823763              1    1572.823763            NaN
902   2184.450038             -1            NaN    2184.450038
903   2081.296461             -1            NaN    2081.296461
904   2036.004109             -1            NaN    2036.004109
905   1935.355665             -1            NaN    1935.355665
906   1935.355665             -1            NaN    1935.355665
907   1935.355665             -1            NaN    1935.355665
908   1935.355665             -1            NaN    1935.355665
909   1935.355665             -1            NaN    1935.355665
910   1935.355665             -1            NaN    1935.355665
911   1935.355665             -1            NaN    1935.355665
912   1935.355665             -1            NaN    1935.355665
913   1935.355665             -1            NaN    1935.355665
914   1935.355665             -1            NaN    1935.355665
915   1935.355665             -1            NaN    1935.355665
916   1935.355665             -1            NaN    1935.355665
917   1935.355665             -1            NaN    1935.355665
918   1935.355665             -1            NaN    1935.355665
919   1935.355665             -1            NaN    1935.355665
920   1935.355665             -1            NaN    1935.355665
921   1935.355665             -1            NaN    1935.355665
922   1935.355665             -1            NaN    1935.355665
923   1935.355665             -1            NaN    1935.355665
924   1935.355665             -1            NaN    1935.355665
925   1935.355665             -1            NaN    1935.355665
926   1935.355665             -1            NaN    1935.355665
927   1935.355665             -1            NaN    1935.355665
928   1935.355665             -1            NaN    1935.355665
929   1935.355665             -1            NaN    1935.355665
930   1932.076098             -1            NaN    1932.076098
931   1932.076098             -1            NaN    1932.076098
932   1932.076098             -1            NaN    1932.076098
933   1932.076098             -1            NaN    1932.076098
934   1932.076098             -1            NaN    1932.076098
935   1932.076098             -1            NaN    1932.076098
936   1932.076098             -1            NaN    1932.076098
937   1594.224114              1    1594.224114            NaN
938   1670.584955              1    1670.584955            NaN
939   1683.582818              1    1683.582818            NaN
940   1683.582818              1    1683.582818            NaN
941   1686.650336              1    1686.650336            NaN
942   1726.751002              1    1726.751002            NaN
943   1726.751002              1    1726.751002            NaN
944   1726.751002              1    1726.751002            NaN
945   1726.751002              1    1726.751002            NaN
946   1751.659841              1    1751.659841            NaN
947   1793.652721              1    1793.652721            NaN
948   1813.055190              1    1813.055190            NaN
949   1857.413734              1    1857.413734            NaN
950   1976.597486              1    1976.597486            NaN
951   2077.922845              1    2077.922845            NaN
952   2077.922845              1    2077.922845            NaN
953   2077.922845              1    2077.922845            NaN
954   2077.922845              1    2077.922845            NaN
955   2077.922845              1    2077.922845            NaN
956   2077.922845              1    2077.922845            NaN
957   2077.922845              1    2077.922845            NaN
958   2077.922845              1    2077.922845            NaN
959   2077.922845              1    2077.922845            NaN
960   2077.922845              1    2077.922845            NaN
961   2077.922845              1    2077.922845            NaN
962   2077.922845              1    2077.922845            NaN
963   2077.922845              1    2077.922845            NaN
964   2077.922845              1    2077.922845            NaN
965   2099.459041              1    2099.459041            NaN
966   2185.427035              1    2185.427035            NaN
967   2265.385316              1    2265.385316            NaN
968   2361.633128              1    2361.633128            NaN
969   2507.942681              1    2507.942681            NaN
970   2591.599441              1    2591.599441            NaN
971   2591.599441              1    2591.599441            NaN
972   2712.160916              1    2712.160916            NaN
973   2712.160916              1    2712.160916            NaN
974   2827.596183              1    2827.596183            NaN
975   2993.446014              1    2993.446014            NaN
976   2993.446014              1    2993.446014            NaN
977   2993.446014              1    2993.446014            NaN
978   2993.446014              1    2993.446014            NaN
979   2993.446014              1    2993.446014            NaN
980   2993.446014              1    2993.446014            NaN
981   2993.446014              1    2993.446014            NaN
982   2993.446014              1    2993.446014            NaN
983   2993.446014              1    2993.446014            NaN
984   2993.446014              1    2993.446014            NaN
985   4443.265143             -1            NaN    4443.265143
986   4443.265143             -1            NaN    4443.265143
987   4443.265143             -1            NaN    4443.265143
988   4151.238690             -1            NaN    4151.238690
989   3908.858163             -1            NaN    3908.858163
990   3908.858163             -1            NaN    3908.858163
991   3908.858163             -1            NaN    3908.858163
992   3908.858163             -1            NaN    3908.858163
993   3908.858163             -1            NaN    3908.858163
994   3908.858163             -1            NaN    3908.858163
995   3799.380219             -1            NaN    3799.380219
996   3664.023759             -1            NaN    3664.023759
997   3664.023759             -1            NaN    3664.023759
998   3664.023759             -1            NaN    3664.023759

In [11]:
df['sup'] = pta.supertrend(high=df['high'], low=df['low'], close=df['close'], period=7, multiplier=3)['SUPERT_7_3.0']
df[['date','close','sup']].head(50)

         date   close         sup
0  2018-09-07  215.22    0.000000
1  2018-09-08  196.71         NaN
2  2018-09-09  195.81         NaN
3  2018-09-10  197.15         NaN
4  2018-09-11  185.18         NaN
5  2018-09-12  183.12         NaN
6  2018-09-13  210.68  127.485819
7  2018-09-14  208.82  143.179468
8  2018-09-15  221.29  149.381217
9  2018-09-16  220.17  151.640750
10 2018-09-17  196.16  151.640750
11 2018-09-18  208.17  151.640750
12 2018-09-19  209.79  151.640750
13 2018-09-20  224.00  151.640750
14 2018-09-21  247.73  165.926402
15 2018-09-22  241.01  173.951049
16 2018-09-23  244.50  178.296379
17 2018-09-24  228.06  178.296379
18 2018-09-25  219.62  178.296379
19 2018-09-26  214.42  178.296379
20 2018-09-27  229.13  178.296379
21 2018-09-28  221.84  178.296379
22 2018-09-29  231.62  178.296379
23 2018-09-30  232.94  178.296379
24 2018-10-01  231.61  178.296379
25 2018-10-02  225.69  178.296379
26 2018-10-03  220.77  178.296379
27 2018-10-04  222.66  178.296379
28 2018-10-05  228.37  180.711448
29 2018-10-06  225.40  185.164022
30 2018-10-07  226.14  186.947989
31 2018-10-08  230.01  192.543066
32 2018-10-09  228.40  196.116919
33 2018-10-10  226.74  196.396413
34 2018-10-11  191.58  249.987571
35 2018-10-12  196.96  237.044985
36 2018-10-13  201.30  237.044985
37 2018-10-14  197.01  235.467651
38 2018-10-15  214.39  235.467651
39 2018-10-16  215.09  235.467651
40 2018-10-17  212.85  235.467651
41 2018-10-18  206.24  235.467651
42 2018-10-19  205.00  235.467651
43 2018-10-20  207.91  235.467651
44 2018-10-21  207.49  235.467651
45 2018-10-22  206.67  235.467651
46 2018-10-23  205.85  232.561058
47 2018-10-24  205.35  231.367910
48 2018-10-25  203.93  227.172735
49 2018-10-26  204.92  227.172735

In [64]:
df['buy_signal'] = 0
df['sell_signal'] = 0
n = 6

# range will take a range from n until len(df), including n but not including df(len), insteps of one, 
# and iterate for each of the element in this range using for loop.
for i in range(n, len(df)):
    if (df['close'][i-1]<= df['sup'][i-1]) and (df['close'][i] > df['sup'][i]):
        df['buy_signal'][i] = 1
    if (df['close'][i-1]>= df['sup'][i-1]) and (df['close'][i] < df['sup'][i]):
        df['sell_signal'][i] = 1

# df[['date','close','sup','buy_signal','sell_signal']].head(10)
df.head(10)

TypeError: 'int' object is not callable

In [13]:
df[['date','close','sup','buy_signal','sell_signal']][(df['buy_signal'] > 0) | (df['sell_signal'] > 0)]

          date    close          sup  buy_signal  sell_signal
34  2018-10-11   191.58   249.987571           0            1
60  2018-11-06   220.74   191.220624           1            0
68  2018-11-14   187.43   224.249628           0            1
104 2018-12-20   114.05    77.496829           1            0
128 2019-01-13   114.16   151.356259           0            1
154 2019-02-08   119.25    92.704083           1            0
178 2019-03-04   125.65   152.781705           0            1
207 2019-04-02   163.31   131.896601           1            0
307 2019-07-11   268.63   343.671751           0            1
375 2019-09-17   207.84   175.860163           1            0
382 2019-09-24   165.81   227.391361           0            1
417 2019-10-29   190.46   149.815870           1            0
440 2019-11-21   161.01   190.837860           0            1
486 2020-01-06   144.15   120.925689           1            0
540 2020-02-29   217.21   290.682264           0            1
577 2020-04-06   171.32   118.244612           1            0
729 2020-09-05   335.01   491.983266           0            1
766 2020-10-12   386.51   328.822848           1            0
902 2021-02-25  1481.75  2184.450038           0            1
937 2021-04-01  1968.05  1594.224114           1            0
985 2021-05-19  2438.92  4443.265143           0            1

In [15]:
df['buysell'] = pta.supertrend(high=df['high'], low=df['low'], close=df['close'], period=7, multiplier=3)['SUPERTd_7_3.0']
df[['date','close','sup','buy_signal','sell_signal','buysell']][(df['buy_signal'] > 0) | (df['sell_signal'] > 0)]

          date    close          sup  buy_signal  sell_signal  buysell
34  2018-10-11   191.58   249.987571           0            1       -1
60  2018-11-06   220.74   191.220624           1            0        1
68  2018-11-14   187.43   224.249628           0            1       -1
104 2018-12-20   114.05    77.496829           1            0        1
128 2019-01-13   114.16   151.356259           0            1       -1
154 2019-02-08   119.25    92.704083           1            0        1
178 2019-03-04   125.65   152.781705           0            1       -1
207 2019-04-02   163.31   131.896601           1            0        1
307 2019-07-11   268.63   343.671751           0            1       -1
375 2019-09-17   207.84   175.860163           1            0        1
382 2019-09-24   165.81   227.391361           0            1       -1
417 2019-10-29   190.46   149.815870           1            0        1
440 2019-11-21   161.01   190.837860           0            1       -1
486 2020-01-06   144.15   120.925689           1            0        1
540 2020-02-29   217.21   290.682264           0            1       -1
577 2020-04-06   171.32   118.244612           1            0        1
729 2020-09-05   335.01   491.983266           0            1       -1
766 2020-10-12   386.51   328.822848           1            0        1
902 2021-02-25  1481.75  2184.450038           0            1       -1
937 2021-04-01  1968.05  1594.224114           1            0        1
985 2021-05-19  2438.92  4443.265143           0            1       -1

In [41]:
# Print eerste rij date
print(df['date'][1])

2018-09-08 00:00:00

In [42]:
# Print tweede rij date
print(df['date'][2])

2018-09-09 00:00:00

In [43]:
# Print vierde rij date
print(df['date'][4])

2018-09-11 00:00:00

In [44]:
# Print 4-1 is derde rij date
print(df['date'][4-1])

2018-09-10 00:00:00

In [49]:
# n = 6
# for i in range(n, len(df)):
#     print(1)
#     print(len(df))
length = len(df)
print(length)

TypeError: 'int' object is not callable