# Simple strategy 30 min verbeteringen?

Dit notebook probeert de huidige simple strat 30 min te verbeteren.
Beoogde verbeteringen zijn:

* Initiele stoploss van -20% aanpassen naar een vorm van trailing stoploss
* exit point (nu op basis van crossdown macd signal line) verbeteren

In [27]:
# Importeer de benodigde bibliotheken
import pandas as pd
from freqtrade.strategy.interface import IStrategy
from pandas import DataFrame
import talib.abstract as ta
import freqtrade.vendor.qtpylib.indicators as qtpylib
from scipy.spatial.distance import cosine
import numpy as np

In [28]:
# Load data
df = pd.read_json("BTC_USDT-30m.json")

In [29]:
df.head()

               0        1        2        3        4          5
0  1502942400000  4261.48  4280.56  4261.32  4261.45  11.308926
1  1502944200000  4280.00  4313.62  4267.99  4308.83  35.872083
2  1502946000000  4308.83  4328.69  4304.31  4320.00  21.048648
3  1502947800000  4320.00  4320.00  4291.37  4315.32   2.186268
4  1502949600000  4330.29  4330.29  4309.37  4311.02   3.566277

In [30]:
df.columns=['date','open','high','low','close','volume']
df['date']=(pd.to_datetime(df['date'],unit='ms'))
df.tail(5)

                     date      open      high       low     close       volume
65265 2021-05-13 06:30:00  50845.04  51335.00  50760.42  51332.74  2062.857647
65266 2021-05-13 07:00:00  51332.74  51367.19  50943.64  50947.68  1827.847841
65267 2021-05-13 07:30:00  50947.67  51000.00  50605.38  50879.72  1804.209253
65268 2021-05-13 08:00:00  50879.73  50950.00  50205.35  50476.23  2284.016803
65269 2021-05-13 08:30:00  50478.70  50674.99  49938.44  50015.82  2332.628022

In [31]:
df.shape

(65270, 6)

In [32]:
df.info

<bound method DataFrame.info of                      date      open      high       low     close       volume
0     2017-08-17 04:00:00   4261.48   4280.56   4261.32   4261.45    11.308926
1     2017-08-17 04:30:00   4280.00   4313.62   4267.99   4308.83    35.872083
2     2017-08-17 05:00:00   4308.83   4328.69   4304.31   4320.00    21.048648
3     2017-08-17 05:30:00   4320.00   4320.00   4291.37   4315.32     2.186268
4     2017-08-17 06:00:00   4330.29   4330.29   4309.37   4311.02     3.566277
...                   ...       ...       ...       ...       ...          ...
65265 2021-05-13 06:30:00  50845.04  51335.00  50760.42  51332.74  2062.857647
65266 2021-05-13 07:00:00  51332.74  51367.19  50943.64  50947.68  1827.847841
65267 2021-05-13 07:30:00  50947.67  51000.00  50605.38  50879.72  1804.209253
65268 2021-05-13 08:00:00  50879.73  50950.00  50205.35  50476.23  2284.016803
65269 2021-05-13 08:30:00  50478.70  50674.99  49938.44  50015.82  2332.628022

[65270 rows x 6 columns]>

## Indicators toevoegen

In [46]:
df["rsi"] = ta.RSI(df, timeperiod=14)
df["sma"] = ta.SMA(df, timeperiod=23)
stoch = ta.STOCH(
    df,
    fastk_period=14,
    slowk_period=4,
    slowk_matype=0,
    slowd_period=6,
    slowd_matype=0,
)
df['slowd'] = stoch['slowd']
df['slowk'] = stoch['slowk']

In [47]:
df.tail(10)

,date,open,high,low,close,volume,rsi,sma,slowd,slowk,rsi_sma,rsi_sma_cross,stoch_sell_cross
65260,2021-05-13 04:00:00,50461.99,50986.22,50380.30,50921.01,2609.544416,37.472958,52329.414348,48.290663,49.826036,38.951416,False,False
65261,2021-05-13 04:30:00,50921.01,50921.01,50282.00,50445.87,2137.740682,34.641282,52129.455652,49.116637,50.376265,38.281345,False,False
65262,2021-05-13 05:00:00,50445.87,51076.41,50444.00,51051.72,1922.728800,40.785695,51963.655217,50.747652,57.601310,37.769987,True,False
65263,2021-05-13 05:30:00,51051.73,51063.46,50799.90,50884.09,1834.320099,39.674328,51812.129565,52.826876,62.422843,37.375690,False,False
65264,2021-05-13 06:00:00,50884.09,51247.05,50813.05,50842.29,1925.525253,39.386122,51671.250000,56.118426,68.203153,36.960267,False,False
65265,2021-05-13 06:30:00,50845.04,51335.00,50760.42,51332.74,2062.857647,44.482115,51550.325652,61.485844,80.485459,36.722699,False,False
65266,2021-05-13 07:00:00,51332.74,51367.19,50943.64,50947.68,1827.847841,41.529976,51398.816522,66.900729,82.315344,36.476152,False,False
65267,2021-05-13 07:30:00,50947.67,51000.00,50605.38,50879.72,1804.209253,41.012633,51262.160435,72.477554,83.837218,36.256573,False,False
65268,2021-05-13 08:00:00,50879.73,50950.00,50205.35,50476.23,2284.016803,37.987001,51090.686087,75.673123,76.774719,35.907044,False,False
65269,2021-05-13 08:30:00,50478.70,50674.99,49938.44,50015.82,2332.628022,34.829508,50886.293043,74.978484,58.255013,35.538514,False,False

## Berekeningen op indicators

In [39]:
df["rsi_sma"] = df["rsi"].rolling(window=50).mean()
df.tail(10)

,date,open,high,low,close,volume,rsi,sma,slowd,slowk,rsi_sma,rsi_sma_cross
65260,2021-05-13 04:00:00,50461.99,50986.22,50380.30,50921.01,2609.544416,37.472958,52329.414348,48.290663,49.826036,38.951416,False
65261,2021-05-13 04:30:00,50921.01,50921.01,50282.00,50445.87,2137.740682,34.641282,52129.455652,49.116637,50.376265,38.281345,False
65262,2021-05-13 05:00:00,50445.87,51076.41,50444.00,51051.72,1922.728800,40.785695,51963.655217,50.747652,57.601310,37.769987,True
65263,2021-05-13 05:30:00,51051.73,51063.46,50799.90,50884.09,1834.320099,39.674328,51812.129565,52.826876,62.422843,37.375690,False
65264,2021-05-13 06:00:00,50884.09,51247.05,50813.05,50842.29,1925.525253,39.386122,51671.250000,56.118426,68.203153,36.960267,False
65265,2021-05-13 06:30:00,50845.04,51335.00,50760.42,51332.74,2062.857647,44.482115,51550.325652,61.485844,80.485459,36.722699,False
65266,2021-05-13 07:00:00,51332.74,51367.19,50943.64,50947.68,1827.847841,41.529976,51398.816522,66.900729,82.315344,36.476152,False
65267,2021-05-13 07:30:00,50947.67,51000.00,50605.38,50879.72,1804.209253,41.012633,51262.160435,72.477554,83.837218,36.256573,False
65268,2021-05-13 08:00:00,50879.73,50950.00,50205.35,50476.23,2284.016803,37.987001,51090.686087,75.673123,76.774719,35.907044,False
65269,2021-05-13 08:30:00,50478.70,50674.99,49938.44,50015.82,2332.628022,34.829508,50886.293043,74.978484,58.255013,35.538514,False

In [41]:
df["rsi_sma_cross"] = qtpylib.crossed_above(df['rsi'], df['rsi_sma'])
# Toon alle crossings van RSI en SMA
df.loc[df['rsi_sma_cross'] == True].tail(10)

,date,open,high,low,close,volume,rsi,sma,slowd,slowk,rsi_sma,rsi_sma_cross
65037,2021-05-08 12:30:00,58539.82,59118.30,58431.81,58862.79,1711.744609,61.751101,58332.208696,63.814369,60.422320,59.867070,True
65048,2021-05-08 18:00:00,58901.45,59236.00,58901.45,59079.78,1868.935753,58.226317,58674.953043,43.358933,65.891621,57.579053,True
65052,2021-05-08 20:00:00,59030.56,59488.00,58755.00,59459.28,1250.270830,62.206334,58767.850435,73.582969,85.798161,57.131987,True
65092,2021-05-09 16:00:00,57379.58,57883.11,57300.01,57652.00,1638.513826,48.272958,57742.773913,41.410113,54.824907,46.905116,True
65100,2021-05-09 20:00:00,57266.97,57999.00,57179.18,57636.87,1672.375584,50.564507,57458.160870,63.107373,62.637096,45.724537,True
65139,2021-05-10 15:30:00,57366.89,58320.00,57200.00,58296.36,2823.245035,54.254951,58134.221304,19.955953,31.307560,50.958834,True
65164,2021-05-11 04:00:00,55142.44,55545.69,54986.47,55507.12,1505.356743,44.808249,55803.434783,50.711119,38.151121,42.923922,True
65168,2021-05-11 06:00:00,54788.60,55247.21,54721.89,55150.01,1142.895032,43.101232,55478.247391,39.819972,35.174511,40.956723,True
65218,2021-05-12 07:00:00,57011.67,57250.00,56990.28,57205.20,990.139085,55.463476,57014.671304,63.751312,42.013201,54.938693,True
65262,2021-05-13 05:00:00,50445.87,51076.41,50444.00,51051.72,1922.728800,40.785695,51963.655217,50.747652,57.601310,37.769987,True

In [43]:
df['stoch_sell_cross']=(df['slowd']>75)&(df['slowk']>75)&(qtpylib.crossed_above(df['slowd'], df['slowk']))
# Toon alle sell crossings
df.loc[df['stoch_sell_cross'] == True].tail(10)

,date,open,high,low,close,volume,rsi,sma,slowd,slowk,rsi_sma,rsi_sma_cross,stoch_sell_cross
64899,2021-05-05 15:30:00,57025.33,57712.06,56981.39,57636.74,3421.417182,73.169580,55431.119130,87.850280,87.718381,48.189296,False,True
64901,2021-05-05 16:30:00,57567.46,57718.97,57227.45,57414.77,2121.296876,69.453283,55683.968696,88.585966,85.313272,50.063158,False,True
64990,2021-05-07 13:00:00,57459.27,57680.00,57116.16,57160.38,1698.042215,62.843608,56150.929565,82.025643,79.098665,46.413879,False,True
65001,2021-05-07 18:30:00,57990.94,58119.77,57815.68,57890.03,1024.293973,64.163608,57010.404348,83.762109,76.457930,50.340271,False,True
65054,2021-05-08 21:00:00,58935.31,58992.55,58623.21,58830.21,943.749880,52.068911,58762.060435,80.784827,79.228565,56.898491,False,True
65108,2021-05-10 00:00:00,58240.83,58377.67,58009.96,58133.89,1304.753150,57.143626,57597.586087,85.085781,83.407459,46.313211,False,True
65111,2021-05-10 01:30:00,58683.04,58985.00,58610.16,58700.21,977.654541,63.772647,57807.600435,86.738177,86.656755,47.137887,False,True
65117,2021-05-10 04:30:00,59165.17,59359.99,59077.29,59154.67,1049.349293,66.288265,58246.065652,90.271972,88.507805,49.231656,False,True
65198,2021-05-11 21:00:00,56806.35,56862.43,56570.00,56576.70,667.930865,56.279471,56058.809565,91.936290,89.248552,46.944831,False,True
65213,2021-05-12 04:30:00,57680.79,57699.17,57284.82,57355.30,1065.213645,59.389167,56878.130870,84.709733,82.810540,53.606094,False,True

In [56]:
# Idee is om te controleren of bij het Moving Average 
# De huidige waarde > waarde-1
# & waarde-1 > waarde-2
# & waarde-2 > waarde-3

df['growing_sma']=(df['sma']>df['sma'].shift(1))&(df['sma'].shift(1)>df['sma'].shift(2))&(df['sma'].shift(2)>df['sma'].shift(3))
df[['date','close','sma','growing_sma']].loc[df['growing_sma'] == True].tail(50)

                     date     close           sma  growing_sma
65116 2021-05-10 04:00:00  59165.16  58170.055652         True
65117 2021-05-10 04:30:00  59154.67  58246.065652         True
65118 2021-05-10 05:00:00  58919.98  58309.598261         True
65119 2021-05-10 05:30:00  59068.05  58378.643478         True
65120 2021-05-10 06:00:00  58930.99  58443.495652         True
65121 2021-05-10 06:30:00  58833.93  58517.439565         True
65122 2021-05-10 07:00:00  58819.65  58584.947391         True
65123 2021-05-10 07:30:00  58370.17  58616.830000         True
65124 2021-05-10 08:00:00  58271.14  58635.393478         True
65125 2021-05-10 08:30:00  58372.87  58659.138696         True
65126 2021-05-10 09:00:00  58127.59  58663.560435         True
65172 2021-05-11 08:00:00  55352.50  55465.156522         True
65178 2021-05-11 11:00:00  55951.98  55467.114348         True
65185 2021-05-11 14:30:00  55688.00  55463.470435         True
65186 2021-05-11 15:00:00  56085.55  55504.474348         True
65187 2021-05-11 15:30:00  56052.82  55528.200435         True
65188 2021-05-11 16:00:00  56206.00  55565.981304         True
65189 2021-05-11 16:30:00  55999.69  55605.053043         True
65190 2021-05-11 17:00:00  56427.59  55675.904783         True
65191 2021-05-11 17:30:00  56395.10  55730.039130         True
65192 2021-05-11 18:00:00  56679.91  55773.638696         True
65193 2021-05-11 18:30:00  56383.66  55811.953043         True
65194 2021-05-11 19:00:00  56748.35  55855.790435         True
65195 2021-05-11 19:30:00  56608.94  55910.418261         True
65196 2021-05-11 20:00:00  56726.95  55970.665217         True
65197 2021-05-11 20:30:00  56806.34  56029.437826         True
65198 2021-05-11 21:00:00  56576.70  56058.809565         True
65199 2021-05-11 21:30:00  56510.26  56078.636522         True
65200 2021-05-11 22:00:00  56523.32  56108.268696         True
65201 2021-05-11 22:30:00  56399.99  56127.747391         True
65202 2021-05-11 23:00:00  56300.00  56175.118261         True
65203 2021-05-11 23:30:00  56670.02  56250.455217         True
65204 2021-05-12 00:00:00  56972.64  56319.957826         True
65205 2021-05-12 00:30:00  57348.95  56422.277391         True
65206 2021-05-12 01:00:00  57072.72  56479.786957         True
65207 2021-05-12 01:30:00  57033.35  56531.167391         True
65208 2021-05-12 02:00:00  57225.79  56598.027826         True
65209 2021-05-12 02:30:00  57172.94  56645.305652         True
65210 2021-05-12 03:00:00  57250.00  56697.356957         True
65211 2021-05-12 03:30:00  57756.94  56764.789130         True
65212 2021-05-12 04:00:00  57678.84  56837.795652         True
65213 2021-05-12 04:30:00  57355.30  56878.130870         True
65214 2021-05-12 05:00:00  57410.48  56922.277826         True
65215 2021-05-12 05:30:00  57227.98  56946.106957         True
65216 2021-05-12 06:00:00  57103.18  56977.390435         True
65217 2021-05-12 06:30:00  57009.55  56988.746957         True
65218 2021-05-12 07:00:00  57205.20  57014.671304         True
65219 2021-05-12 07:30:00  57101.07  57030.937391         True
65222 2021-05-12 09:00:00  56865.30  57052.909130         True
65223 2021-05-12 09:30:00  56855.43  57067.348696         True

dataframe['last_lowest'] = dataframe['low'].rolling(10).min().shift(1)
dataframe['lower_low'] = dataframe['close'] < dataframe['last_lowest']
print(dataframe[['date','close','low','last_lowest','lower_low']].loc[dataframe['lower_low'] == True].tail(55))

In [58]:
df['ohlc']=(df['open']+df['high']+df['low']+df['close'])/4

df[['date','close','sma','ohlc']].tail(25)

                     date     close           sma        ohlc
65245 2021-05-12 20:30:00  54420.14  55509.394783  54273.0900
65246 2021-05-12 21:00:00  54716.86  55416.413478  54547.2300
65247 2021-05-12 21:30:00  54533.16  55335.770000  54577.7150
65248 2021-05-12 22:00:00  52748.44  55193.231304  53507.1050
65249 2021-05-12 22:30:00  52942.79  55052.715217  52559.9425
65250 2021-05-12 23:00:00  51591.42  54842.713478  52189.4850
65251 2021-05-12 23:30:00  49631.32  54539.529130  50479.0900
65252 2021-05-13 00:00:00  49724.77  54252.920870  48876.4800
65253 2021-05-13 00:30:00  49666.99  53982.985217  49896.9400
65254 2021-05-13 01:00:00  50324.12  53703.159565  49972.6675
65255 2021-05-13 01:30:00  50522.52  53434.010000  50258.4325
65256 2021-05-13 02:00:00  50382.98  53186.616522  50496.9625
65257 2021-05-13 02:30:00  50255.84  52954.606522  50301.1175
65258 2021-05-13 03:00:00  49801.23  52707.741304  49967.9475
65259 2021-05-13 03:30:00  50461.99  52507.327391  50073.6100
65260 2021-05-13 04:00:00  50921.01  52329.414348  50687.3800
65261 2021-05-13 04:30:00  50445.87  52129.455652  50642.4725
65262 2021-05-13 05:00:00  51051.72  51963.655217  50754.5000
65263 2021-05-13 05:30:00  50884.09  51812.129565  50949.7950
65264 2021-05-13 06:00:00  50842.29  51671.250000  50946.6200
65265 2021-05-13 06:30:00  51332.74  51550.325652  51068.3000
65266 2021-05-13 07:00:00  50947.68  51398.816522  51147.8125
65267 2021-05-13 07:30:00  50879.72  51262.160435  50858.1925
65268 2021-05-13 08:00:00  50476.23  51090.686087  50627.8275
65269 2021-05-13 08:30:00  50015.82  50886.293043  50276.9875

In [80]:
# Declining slowk no entry signal
df['slowk_decline']= (df['slowk'] > 70) & (df['slowk'] < df['slowk'].shift(1)) & (df['slowk'].shift(1) < df['slowk'].shift(2))
df[['date','slowk','slowk_decline']].loc[df.slowk_decline==True].tail(55)

                     date      slowk  slowk_decline
64645 2021-04-30 08:30:00  85.120594           True
64648 2021-04-30 10:00:00  75.980968           True
64660 2021-04-30 16:00:00  90.709734           True
64661 2021-04-30 16:30:00  89.570551           True
64662 2021-04-30 17:00:00  82.772461           True
64663 2021-04-30 17:30:00  77.095675           True
64664 2021-04-30 18:00:00  75.293370           True
64669 2021-04-30 20:30:00  77.758894           True
64681 2021-05-01 02:30:00  90.006426           True
64684 2021-05-01 04:00:00  82.767450           True
64685 2021-05-01 04:30:00  80.606344           True
64686 2021-05-01 05:00:00  79.230767           True
64687 2021-05-01 05:30:00  77.170090           True
64688 2021-05-01 06:00:00  76.733640           True
64750 2021-05-02 13:00:00  71.164799           True
64779 2021-05-03 03:30:00  87.251864           True
64780 2021-05-03 04:00:00  84.017368           True
64781 2021-05-03 04:30:00  81.131887           True
64782 2021-05-03 05:00:00  80.780586           True
64783 2021-05-03 05:30:00  80.730144           True
64791 2021-05-03 09:30:00  74.604440           True
64875 2021-05-05 03:30:00  84.020979           True
64876 2021-05-05 04:00:00  80.157046           True
64877 2021-05-05 04:30:00  75.207685           True
64878 2021-05-05 05:00:00  71.324473           True
64879 2021-05-05 05:30:00  70.309997           True
64889 2021-05-05 10:30:00  82.857665           True
64890 2021-05-05 11:00:00  81.292876           True
64891 2021-05-05 11:30:00  75.006908           True
64899 2021-05-05 15:30:00  87.718381           True
64904 2021-05-05 18:00:00  77.778013           True
64905 2021-05-05 18:30:00  76.788712           True
64906 2021-05-05 19:00:00  74.176779           True
64907 2021-05-05 19:30:00  71.386337           True
64941 2021-05-06 12:30:00  72.709580           True
64988 2021-05-07 12:00:00  80.632022           True
64991 2021-05-07 13:30:00  77.586918           True
64992 2021-05-07 14:00:00  75.588122           True
64993 2021-05-07 14:30:00  70.641931           True
65000 2021-05-07 18:00:00  84.303154           True
65001 2021-05-07 18:30:00  76.457930           True
65022 2021-05-08 05:00:00  74.931512           True
65032 2021-05-08 10:00:00  73.987766           True
65054 2021-05-08 21:00:00  79.228565           True
65055 2021-05-08 21:30:00  75.569411           True
65108 2021-05-10 00:00:00  83.407459           True
65111 2021-05-10 01:30:00  86.656755           True
65117 2021-05-10 04:30:00  88.507805           True
65118 2021-05-10 05:00:00  79.719769           True
65119 2021-05-10 05:30:00  74.164875           True
65196 2021-05-11 20:00:00  90.896481           True
65199 2021-05-11 21:30:00  85.615626           True
65200 2021-05-11 22:00:00  79.552292           True
65213 2021-05-12 04:30:00  82.810540           True
65214 2021-05-12 05:00:00  77.071661           True

In [82]:
df['ao'] = qtpylib.awesome_oscillator(df)
df[['date','close','ao']]

                     date     close           ao
0     2017-08-17 04:00:00   4261.45          NaN
1     2017-08-17 04:30:00   4308.83          NaN
2     2017-08-17 05:00:00   4320.00          NaN
3     2017-08-17 05:30:00   4315.32          NaN
4     2017-08-17 06:00:00   4311.02          NaN
...                   ...       ...          ...
65265 2021-05-13 06:30:00  51332.74 -1798.156912
65266 2021-05-13 07:00:00  50947.68 -1524.216824
65267 2021-05-13 07:30:00  50879.72 -1350.902029
65268 2021-05-13 08:00:00  50476.23 -1268.968618
65269 2021-05-13 08:30:00  50015.82 -1260.576353

[65270 rows x 3 columns]